.second-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
    height: 100%;
}

.second-progress-container {
    margin: -24px 0px 0px 160px;
    width: calc(100% - 20%);
        display: flex;
        align-items: center;
}

.progress-bar {
    width: calc(100% - 20%);
        height: 5px;
        background-color: #ccc;
        margin: 30px 70px 30px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #179E7E;
}

.second-content {
    text-align: center;
}

.line1 {
    font-size: 30px;
    font-weight: 900;
}

.line2 {
    font-size: 15px;
    font-weight: 300;
}

.options {
    margin-top: 20px;
}

.options button {
    margin: 5px;
}

.options button.selected {
    font-weight: bold;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.options-container {
    margin-top: 20px;
}

.option-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    width: 700px;
    height: 65px;
}

.option-button.selected {
    box-shadow: 0px 0px 10px 2px #F6E8B1;
}
.back-button {
    margin-right: -40px;
}

.continueButton {
    background-color: black;
    color: #FFFFFF;
    max-width: 176px;
    font-weight: 600;
    font-size: 18px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    place-content: center;
    border-radius: 6px;
    line-height: 32px;
    border: 0;
    margin-top: 25px;
    padding-top: 7px;
}